openai>=1.12.0
duckduckgo-search>=3.9.6
yfinance>=0.2.31
SQLAlchemy>=2.0.23
fastapi>=0.109.2
uvicorn[standard]>=0.27.0
python-multipart>=0.0.6
agno==1.6.0
arize-otel
arize-phoenix 
openai
openinference-instrumentation-agno 
opentelemetry-sdk 
opentelemetry-exporter-otlp
tavily-python
youtube-transcript-api
nest-asyncio
mcp
jina
psycopg[binary]
pymongo
ollama==0.4.7
pypdf
arxiv
pgvector
# textract
# unstructured
# markdown
# python -m pip install --upgrade pip<24.1 -> use for textract
